/*
 * vhdl.css
 * ~~~~~~~~~
 *
 * Sphinx stylesheet -- VHDLDomain theme.
 *
 * :copyright: Copyright 2017, JF Cliche - McGill University.
 * :license: BSD, see LICENSE for details.
 *
 */


/***********************************
 Read-The-Docs Theme overrides
************************************/
div.wy-nav-content {
	max-width: none;
}


.wy-table-responsive table.docutils td {
	white-space: normal;
	padding: 1px 2px;
	vertical-align: baseline;
}

.wy-table-responsive table.vhdl_entity td {
	padding: 0 0;
}

/* Tweak the breadcrumbs at the top of the page to make the module references nicer (same font size, keep box)*/
.wy-breadcrumbs li code {
	padding: 1px;
	border: solid 1px;
	font-family: unset;
}

/* Fix cell alignment in RTD theme. Right align the text instead of the whole cell. */
table.docutils td.align-right {
	float: none; /* Disable aligning of the cell */
	text-align: right; /* Align the text instead*/
}

/* Nice display of key combinations used with role :kbd:`some key combo`. CSS entry inspired from StackOverflow own web site*/
.rst-content code.kbd {
    /*display: inline-block;*/
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 80%;
    /*line-height: 1.4;*/
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}

/* RST / Sphinx overrides*/

/*Remove exra spacing between list elements that have sublists*/
.rst-content .section ul li p {
	margin-bottom: 0;
}

/*Remove exra spacing between list elements that have sublists*/
.rst-content blockquote {
    margin-bottom: 0;
}

/* Override reference text size to be the same as the surrounding text*/
.rst-content code {
	font-size: unset;
}

.rst-content dl {
    margin-bottom: -12px;
}

/***********************************
 Generic VHDLDomain styles
************************************/


/* Overrite RTD font size in Entity headers */
dl.entity dt.vhdl_entity_title {
	font-size: x-large;
	font-weight: bold;
	}


code.highlight-vhdl {
    background-color: transparent;
    border: none; /* overrides RTD code border */
/*    font-weight: bold;
    font-size-adjust: 0.6;
    border: 1px solid black;
*/
}

table.vhdl_entity td {
    border-bottom: 0;
	}

table.vhdl_entity code {
    font-size: 100%;
    font-family: sans-serif;
    font-weight: bold;
	}

.vhdl_entity_brief {
    font-color: blue;
	}

.vhdl_entity_header {
    background-color: #d0d0d0;
    font-weight: bold;
    font-size: 130%;
	}

.vhdl_entity_def_even {
    background-color: #E0E0E0;
	}

.vhdl_entity_def_odd {
    background-color: #F0F0F0;
	}

table.vhdl_entity td.vhdl_entity_id{
	/*text-indent: 2em;*/
	text-align: right;
}

table.vhdl_entity td.vhdl_entity_def {
	text-indent: -1em;
	padding-left: 1em;
}

table.vhdl_entity td.vhdl_entity_sep {
	text-align: left;
	/*padding-left: 5em;*/
    /*font-size: 110%;*/
    /*background-color: white;*/
    /*text-shadow: 1pt 1pt grey;*/
    /*font-weight: bold;*/
    font-style: italic;
   /*text-decoration: underline;*/
	padding: 6pt 1pt;
}



/* Eliminate spacing between list items within entity descriptions.
In ReST, if a list contains sublists, all items are wrapped in <P>, causing extra spacing.
*/
.vhdl_entity_details li p, .vhdl_entity_details ol, .vhdl_entity_details ul {
	margin-bottom: 0px;
}

div.body td.align-left, div.body th.align-left {
	text-align: left;
}

div.body td.align-right, div.body th.align-right {
	text-align: right;
}

div.body td.align-center, div.body th.align-center {
	text-align: center;
}

/*.vhdl_entity_def_even p {
	text-indent: -5em;
	padding-left: 5em;
}

.vhdl_entity_def_even p + p {
	text-indent: -5em;
	padding-left: 5em;
}

table.vhdl_entity tr td {
	text-indent: -5em;
	padding-left: 5em;
	}

*/